.header {
  height: 295px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
}

.title__cont {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .title {
    color: #cff4fc;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & .subTitle {
    color: #cff4fc;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
}

.search {
  cursor: pointer;
  position: absolute;
  bottom: -32px;
  width: 820px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #ced4da;
  background: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  padding-left: 34px;
  color: #5e656b;
  z-index: 10;

  &::placeholder {
    color: #abb5be;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 286px;
  }

  &:focus {
    outline: none
  }

  &::selection {
    width: max-content;
    color: #86bbc6;
    background-color: #097b91;
    border-radius: 5px;
  }
}
