.footer {
  width: 1000px;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

select {
  width: 70px;
  height: 40px;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.pages {
  display: flex;
  gap: 1px;
}

.page {
  box-sizing: border-box;
  border: 1px solid rgb(222, 226, 230);
  background: rgb(255, 255, 255);
  position: static;
  width: 52px;
  height: 40px;
  display: flex;
  color: rgb(5, 81, 96);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
  justify-content: center;
}

.first {
  border-radius: 50px 0 0 50px;
  &:disabled {
    color: rgb(171, 181, 190);
  }
}

.last {
  border-radius: 0 50px 50px 0;
  &:disabled {
    color: rgb(171, 181, 190);
  }
}

.bntClicked {
  background: #055160;
  color: white;
}

.container {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
